In [19]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd
import numpy as np
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [20]:
from bs4 import BeautifulSoup
import requests
import csv
print('Modules imported')

Modules imported

In [21]:
uri = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
print('The URI is: {} '.format(uri) )

The URI is: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [22]:
import pandas as pd
dfs = pd.read_html(uri, header=0)
df = dfs[0]

In [23]:
df1 = (df[df.Borough != 'Not assigned']
        .groupby('Postcode')
        .agg({'Borough': lambda x: x.iloc[0], 'Neighbourhood': lambda x: "%s" % ', '.join(x)})
        .reset_index()
      )
df1.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [24]:
df2 = df1.copy(deep=True)
df2.loc[df2.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df1.loc[df1.Neighbourhood == 'Not assigned', 'Borough']
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [25]:
df2[df2.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [26]:
df2.shape

(103, 3)